<% include partials/header %>
<div class ="ui text container context">
	 <div>
	 	<div class="ui huge header">Edit Post</div>
		<form class="ui form" method="POST" action="/post/<%=post._id%>/edit">
		  <div class="field">
		    <label>Tittle</label>
		    <input type="text" name="tittle" value="<%=post.tittle%>"/>
		  </div>
		  <div class="field">
		    <label>Image</label>
		    <input type="text" name="image" value="<%=post.image%>"/>
		  </div>
		   <div class="field">
		    <label>Post</label>
		  	<textarea name="body" cols="30" rows= "10"><%=post.body%></textarea>
		  </div>
		  
		  <button class="ui green button" type="submit">Submit</button>
		</form>
	 </div>
</div>
<% include partials/footer %>