<%include partials/header%>
	<div class= "ui text container context">
		<div class="ui huge header"><%=post.tittle%>
		</div>
		<div class="ui centered rounded top attached">
			<div class="item">
				<img class="ui fluid image" src="<%=post.image%>" />
				<div class="content">
					<small><strong><%=post.createdAt.toDateString()%></small>
					</strong>
				</div>
				<div class="description">
					<p><%=post.body%></p>
				</div>
			</div>
		</div>
	</div>
<%include partials/footer%>
